.login_form {
  width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.login_element {
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 90px;
  height: 35px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #3f51b5;
  border-radius: 5px;
  border: 2px solid #3f51b5;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14);
}

.button:hover {
  cursor: pointer;
  transform: translate(1px, 1px);
}

.login_input {
  width: 220px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14);
}
